* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color:black;
}

a {
    color: blue;
}

h1 {
    color: #49fb35;
}

h2 {
    color:blue
} 

th {
    color: white;
}

td {
    color:#49fb35;
}

fieldset {	
    font-size: 20px; 
    padding: 25px;
    width: 300px;
    line-height: 1.8;
    display: inline-block;
}
    
legend {
    margin:0 auto;
}